NODE_ENV=development
PORT=4100
DATABASE_URL=postgres://postgres:postgres@localhost:5432/choose_my_rate_pricing
PRMG_RATE_SHEET_URL=http://www.eprmg.net/campaigner/WHLS-1000.xls
REFRESH_CRON=*/15 * * * *
ADMIN_API_KEY=change-me
ENABLE_SCHEDULER=true
RUN_MIGRATIONS_ON_START=false
RUN_REFRESH_ON_START=false
DATABASE_SSL=false
DATABASE_SSL_REJECT_UNAUTHORIZED=true
